<h3>Log in:</h3>
<div>
  <form>
    <div class="form-group">
      <label for="loginName">Username</label>
      {{input value=loginName id="loginName"}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input value=password id="password"}}
    </div>
    <button {{action 'login' users}}>Log In</button>
  </form>
</div>
