<h1>Current Questions:</h1>
{{#each model as |question|}}
  <h2>{{#link-to 'question' question.id}}{{question.body}}{{/link-to}} | {{question.author}}</h2>
{{/each}}

<div class="new-question">
  {{new-question saveQuestion="saveQuestion"}}
</div>
